*.pth
*.jpg
*.png
*.out
venv
.cache
cache/*
*.safetensors
__pycache__
.vscode
ViT-L-14_openai_artists.safetensors
ViT-L-14_openai_flavors.safetensors
ViT-L-14_openai_mediums.safetensors
ViT-L-14_openai_movements.safetensors
ViT-L-14_openai_negative.safetensors
ViT-L-14_openai_trendings.safetensors
=2.0
dreamshaper?modelVersionId=94081
huggingface
lora
cache
gfpgan
weights